n8n-slack-logs-workflow.json
{
  "name": "YABT Logs to Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "yabt-logs",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "yabt-logs"
    },
    {
      "parameters": {
        "jsCode": "// Format log for Slack\n// The webhook data can be nested in 'body' or at root level\nconst input = $input.first().json;\nconst log = input.body || input;\n\n// Debug: log what we received\nconsole.log('Received:', JSON.stringify(input));\n\n// Emojis based on log level\nconst emojis = {\n  error: '🚨',\n  warn: '⚠️',\n  info: 'ℹ️',\n  debug: '🔍'\n};\n\nconst level = log.level || 'info';\nconst emoji = emojis[level] || emojis.info;\n\n// Build a simple text message with mrkdwn formatting\nlet text = `${emoji} *YABT ${level.toUpperCase()}*\\n`;\ntext += `*Message:* ${log.message || 'No message'}\\n`;\ntext += `*Time:* ${log.timestamp || new Date().toISOString()}\\n`;\n\nif (log.requestId) {\n  text += `*Request ID:* \\`${log.requestId}\\`\\n`;\n}\n\nif (log.method && log.path) {\n  text += `*Endpoint:* \\`${log.method} ${log.path}\\`\\n`;\n}\n\nif (log.statusCode) {\n  text += `*Status:* ${log.statusCode}\\n`;\n}\n\nif (log.responseTime) {\n  text += `*Response Time:* ${log.responseTime}\\n`;\n}\n\nif (log.ip) {\n  text += `*IP:* ${log.ip}\\n`;\n}\n\nif (log.body && typeof log.body === 'object') {\n  const bodyStr = JSON.stringify(log.body);\n  if (bodyStr.length < 300) {\n    text += `*Body:* \\`\\`\\`${bodyStr}\\`\\`\\`\\n`;\n  }\n}\n\ntext += `\\n_Service: ${log.service || 'yabt'} | Env: ${log.environment || 'production'}_`;\n\nreturn {\n  json: {\n    channel: '#yabt-logs',\n    text: text\n  }\n};"
      },
      "id": "code-node",
      "name": "Format for Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.channel }}"
        },
        "messageType": "text",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [690, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-level",
              "leftValue": "={{ $json.body?.level || $json.level }}",
              "rightValue": "debug",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-node",
      "name": "Filter Debug Logs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [360, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Debug Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Debug Logs": {
      "main": [
        [
          {
            "node": "Format for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Slack": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T09:53:00.000Z",
  "versionId": "4"
}
